# ===============================
# Shiro INI example configuration
# ===============================

# see https://shiro.apache.org/configuration.html how to
# set up your realm.

[main]
securityManager.sessionManager.globalSessionTimeout = 7200000

ldapRealm = org.apache.shiro.realm.ldap.JndiLdapRealm
ldapRealm.contextFactory.environment[java.naming.ldap.factory.socket] = net.felsing.client_cert.utilities.RaSSLSocketFactory
ldapRealm.contextFactory.environment[ldap.searchBase] = CN=Users,DC=test,DC=example,DC=com
ldapRealm.userDnTemplate = sAMAccountName={0},DC=test,DC=example,DC=com
ldapRealm.contextFactory.url = ldaps://dc1.cf.felsing.net:636
ldapRealm.contextFactory.systemUsername = CN=Administrator,CN=Users,DC=test,DC=example,DC=com
ldapRealm.contextFactory.systemPassword= ***
ldapRealm.contextFactory.authenticationMechanism = SIMPLE

[users]
joetest = Geheim1234

[roles]

[urls]
