body {
    background: #EFEFEF;
    font: normal 14px/16px Helvetica, Arial, sans-serif;
}

.wrapper {
    width: 50em;
    margin: 50px auto;
    padding: 50px;
    border: solid 2px #CCC;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 12px 3px #CDCDCD;
    -webkit-box-shadow: 0 0 12px 3px #CDCDCD;
    background: #FFF;
}


#add-pkcs10-block {
    display: block;
    font: bold 18px/22px Helvetica, Arial, sans-serif;
    margin: 0 0 8px;
}


#spinner {
    background-image: url(../image/spinner.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}


.ui-dialog-titlebar {
    display: none;
}


.ui-corner-all {
    border: 0px;
}

label {
    float: left;
    width: 10em;
    text-align: left;
    margin-left: 1em;
    display: block;
    font: bold 18px/22px Helvetica, Arial, sans-serif;
}

#div_create {
    margin-top: 1em;
    padding-top: 1em;
}

#pkcs12_password_area {
    margin-top: 1em;
}

.pwd_toggle_on {
    display: inline-block;
}

.pwd_toggle_off {
    display: none;
}

#div_password {
    display: inline-block;
    width: 100%;
}

#div_passwordButton {
    width:100%;
    text-align: center;
}

.left {
    float: left;
    margin-top: 0.2em;
}

.left2 {
    overflow: hidden;
    display: block;
    padding: 0 4px 0 10px;
    margin-top: 1em;
}

.left2 input {
    width: 29rem;
}

.left2 select {
    width: 30rem;
}

.div_buttons {
    display: inline-block;
    text-align: center;
    width: 100%;
}

#div_password {
    display: inline-block;
    width: 100%;
}

#span_password {
    overflow: hidden;
    display: block;
    padding: 0 4px 0 10px;
}

#password {
    font: bold 20px/24px "Courier 10 Pitch",courier, monospace;
    width: 30rem;
}

button {
    display: inline-block;
    height: 3em;
    width: 20em;
    margin-left: 1em;
    margin-top: 1em;
    background: #ACD0EC;
    border: solid 1px #4C6181;
    color: #000;
    font: bold 14px/16px Helvetica, Arial, sans-serif;
}

.div_title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font: bold 3em/3.5em Helvetica, Arial, sans-serif;
}


.div_loginfailed {

}

.footer {
    width: 50em;
    margin: 10px auto;
    padding: 10px 50px 10px 50px;
    border: solid 2px #CCC;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 12px 3px #CDCDCD;
    -webkit-box-shadow: 0 0 12px 3px #CDCDCD;
    background: #FFF;
    text-align: center;
}
